app/views/busket.jade
extends layouts/_default


block content
    - var title = { description: 'Корзина' }
    include modules/_breadcrumbs
    .container
        .busket
            form(action='', method='post', role='form')
                table.table.table--bordered.visible-md.visible-lg
                    thead
                        tr
                            th(colspan="2") Товар
                            th Цена
                            th Количество
                            th Сумма
                            th Удалить
                    tbody
                        tr.busket__item
                            td.busket__item-img: img(src="images/busket-img-1.jpg", alt="")
                            td.busket__item-desc
                                h6: a.text--primary(href="#") Кольцо с топазом и бриллиантами
                                ul.list--unstyled
                                    li
                                        b Артикул:
                                        span  22056895
                                    li
                                        b Размер:
                                        span  12
                                    li
                                        b Наличие:
                                        span.text--success  Много
                            td.busket__item-price
                                span 7 432 540 Р
                            td.busket__item-count: input.form-control.input__number-js(type="text", value="243")
                            td.busket__item-summ.text--danger
                                span 14 456 540 Р
                            td.busket__item-del.busket__del-js: a(href="#"): img(src="images/close.png", alt="")
                        tr.busket__item
                            td.busket__item-img: img(src="images/busket-img-2.jpg", alt="")
                            td.busket__item-desc
                                h6: a.text--primary(href="#") Если будет очень длинное название,
                                    br
                                    | оно должно уйти в 2 строчки
                                ul.list--unstyled
                                    li
                                        b Артикул:
                                        span  22056895
                                    li
                                        b Размер:
                                        span  12
                                    li
                                        b Наличие:
                                        span.text--success  Много
                            td.busket__item-price
                                span 7 432 540 Р
                            td.busket__item-count: input.form-control.input__number-js(type="text", value="243")
                            td.busket__item-summ.text--danger
                                span 14 456 540 Р
                            td.busket__item-del.busket__del-js: a(href="#"): img(src="images/close.png", alt="")
                        tr.busket__item
                            td.busket__item-img: img(src="images/busket-img-3.jpg", alt="")
                            td.busket__item-desc
                                h6: a.text--primary(href="#") Кольцо с топазом и бриллиантами
                                ul.list--unstyled
                                    li
                                        b Артикул:
                                        span  22056895
                                    li
                                        b Размер:
                                        span  12
                                    li
                                        b Наличие:
                                        span  Нет
                                    li.font--sm Пожалуйста, перед покупкой &nbsp;
                                        a.text--danger(href="#", data-toggle="modal", data-target="#callForm") свяжитесь с менеджером
                            td.busket__item-price
                                span 7 432 540 Р
                            td.busket__item-count: input.form-control.input__number-js(type="text", value="243")
                            td.busket__item-summ.text--danger
                                span 14 456 540 Р
                            td.busket__item-del.busket__del-js: a(href="#"): img(src="images/close.png", alt="")
                    tfoot
                        tr
                            td(colspan="4")
                                ul.pager.margbot10.margtop10
                                    li.previous
                                        a(href='#').arrow
                                            i &larr;
                                        a(href='#') Вернуться к покупкам
                            td.busket__item-total(colspan="4")
                                h4 Итого:
                                    span.text--danger  74 503 160 Р
                                a(href="#").btn.btn--warning Пересчитать
                .busket.visible-xs.visible-sm
                    - for (var x = 1; x < 4; x++)
                        .busket__item.margbot80
                            .busket__item-img.text--center: img(src="images/busket-img-#{x}.jpg", alt="")
                            .busket__item-desc
                                h6.margbot30: a.text--primary(href="#") Кольцо с топазом и бриллиантами
                                ul.list--unstyled
                                    li
                                        b Артикул:
                                        span  22056895
                                    li
                                        b Размер:
                                        span  12
                                    li
                                        b Наличие:
                                        span.text--success  Много
                                    li
                                        b Цена:
                                        span 7 432 540 Р
                                    li
                                        b Количество:
                                        span.busket__item-count: input.form-control.input__number-js(type="text", value="243")
                                    li
                                        b Сумма:
                                        span.busket__item-summ.text--danger 14 456 540 Р
                                    li
                                        b.busket__item-del.busket__del-js: a(href="#") Удалить
                    .text--right
                        .busket__item-total
                            h4 Итого:
                                span.text--danger  74 503 160 Р
                            a(href="#").btn.btn--warning Пересчитать
                    ul.pager.margbot30.margtop40
                        li.previous
                            a(href='#').arrow
                                i &larr;
                            a(href='#') Вернуться к покупкам

        .row.margtop40.form-mess
            .col.col-lg-6.col-md-8.col-xs-12
                h2.margbot30 Контактные данные
                form.form-horizontal(action='', method='post', role='form')
                    +field('text', 'phone', 'phone1', 'Телефон *', true)
                    +field('email', 'mail', 'mail1', 'Эл.почта *', true)
                    +field('text', 'name', 'name1', 'Имя *', true)
                    +field('text', 'surname', 'surname1', 'Фамилия *', true)
                    .form-group
                        label.control-label.col.col-sm-3.col-xs-12 Комментарии
                        .col.col-sm-9.col-xs-12
                            textarea.form-control
                    .form-group
                        label.control-label.col.col-sm-3.col-xs-12 &nbsp;
                        .col.col-sm-9.col-xs-12
                            a.text--primary(href="#") Доставка и оплата
                    .form-group
                        label.control-label.col.col-sm-3.col-xs-12 &nbsp;
                        .col.col-sm-9.col-xs-12
                            button.btn.btn--warning(type='submit') Оформить заказ

dist/busket.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">
<!-- миксины-->
<!-- input-->
<head>
  <meta charset="utf-8">
  <title>USS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico"><link rel="stylesheet" href="styles/vendor.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div class="wrapper">
    <div class="wrapper-inner">
      <!-- callThanks-->
      <div id="callThanks" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close-red.png" alt="Close"></button>
              <h3 class="modal-title">Заказать звонок менеджеру</h3>
            </div>
            <div class="modal-body text--center">
              <p>Ожидайте звонка. Вам перезвонят в ближайшее время.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- callForm-->
      <div id="callForm" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close-red.png" alt="Close"></button>
              <h3 class="modal-title">Заказать звонок менеджеру</h3>
            </div>
            <div class="modal-body">
              <form action="" method="post" role="form" class="form-horizontal">
                <div class="form-group field-text">
                  <label for="phone1" class="col col-sm-3 col-xs-12 control-label">Телефон *</label>
                  <div class="col col-sm-6 col-xs-12">
                    <input type="text" name="phone" id="phone1" required class="form-control">
                  </div>
                </div>
                <div class="form-group field-text">
                  <label for="name1" class="col col-sm-3 col-xs-12 control-label">Имя *</label>
                  <div class="col col-sm-6 col-xs-12">
                    <input type="text" name="name" id="name1" required class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col col-sm-3 col-xs-12">Комментарии</label>
                  <div class="col col-sm-9 col-xs-12">
                    <textarea class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col col-sm-3 col-xs-12">&nbsp;</label>
                  <div class="col col-sm-9 col-xs-12">
                    <button type="submit" class="btn btn--warning">Перезвонить мне</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <header>
        <div class="header-top">
          <div class="container">
            <div class="navbar-header col-sm-12 col-xs-12 col-md-6"><a href="/" class="navbar-brand"><img src="images/logo.png" alt=""></a></div>
            <div class="navbar-left navbar-phone"><span>Единый номер<b>8(800) 555-17-70</b></span></div>
            <div class="navbar-right busket"><span class="busket-text">В вашей корзине</span><span class="busket-count">2</span><span class="busket-type">товара</span></div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <nav role="navigation" class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle">
                  <div class="pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></div><span class="sr-only">Меню</span>
                </button>
              </div>
              <form role="search" class="navbar-form navbar-right visible-xs visible-sm visible-md">
                <div class="input-group">
                  <input type="text" placeholder="Поиск по сайту" class="form-control">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn--default"><i class="icon-search"></i></button>
                  </div>
                </div>
              </form>
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <!--+list-h('nav navbar-nav', 'Каталог', 'Акции', 'Оплата и получение товара', 'Розничный магазин', 'О нас', 'Гарантии')-->
                <ul class="nav navbar-nav">
                  <li><a href="#" class="visible-lg">Каталог</a><a href="#" class="hidden-lg menu__title filter__title-js">Каталог</a>
                    <div class="subnav">
                      <div class="container">
                        <h2 class="subnav-title visible-lg">Каталог</h2>
                        <ul class="nav">
                          <li class="subnav-sub"><a href="#" class="visible-lg">Серьги</a><a href="#" class="hidden-lg menu__title filter__title-js">Серьги</a>
                            <ul class="nav">
                              <li><a href="#">Серьги пуссеты</a></li>
                              <li><a href="#">Серьги детские</a></li>
                              <li><a href="#">Серьги c подвесной частью</a></li>
                              <li><a href="#">Серьги скоба</a></li>
                              <li><a href="#">Серьги штампованные</a></li>
                            </ul>
                          </li>
                          <li class="subnav-sub"><a href="#" class="visible-lg">Кольца</a><a href="#" class="hidden-lg menu__title filter__title-js">Кольца</a>
                            <ul class="nav">
                              <li><a href="#">Обручальные кольца</a></li>
                              <li><a href="#">Помолвочные кольца</a></li>
                              <li><a href="#">Мужские печатки</a></li>
                              <li><a href="#">Женские кольца</a></li>
                            </ul>
                          </li>
                          <li class="subnav-sub"><a href="#" class="visible-lg">Подвески и кулоны</a><a href="#" class="hidden-lg menu__title filter__title-js">Подвески и кулоны</a>
                            <ul class="nav">
                              <li><a href="#">Серьги пуссеты</a></li>
                              <li><a href="#">Серьги детские</a></li>
                              <li><a href="#">Серьги c подвесной частью</a></li>
                              <li><a href="#">Серьги скоба</a></li>
                              <li><a href="#">Серьги штампованные</a></li>
                            </ul>
                          </li>
                          <li class="subnav-sub"><a href="#">Цепи и колье</a><a href="#">Браслеты</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li><a href="#">Акции</a></li>
                  <li><a href="#">Оплата и получение товара</a></li>
                  <li><a href="#">Розничный магазин</a></li>
                  <li><a href="#">О нас</a></li>
                  <li><a href="#">Гарантии</a></li>
                  <li class="active"><a href="#">ЮСС</a></li>
                </ul>
              </div>
              <form role="search" class="navbar-form navbar-right visible-lg">
                <div class="input-group">
                  <input type="text" placeholder="Поиск по сайту" class="form-control">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn--default"><i class="icon-search"></i></button>
                  </div>
                </div>
              </form>
            </nav>
          </div>
          <!--button(type="button", class="btn", data-toggle="modal", data-target="#callThanks") Модальное//button(type="button", class="btn", data-toggle="modal", data-target="#callForm") Модальное
          -->
        </div>
      </header>
      <main class="main">
        <div class="breadcrumbs">
          <div class="container">
            <ul class="breadcrumb visible-md visible-lg">
              <li><a href="#">Главная</a></li>
              <li><a href="#">Интернет-магазин</a></li>
              <li class="active">Корзина</li>
            </ul>
            <h1 class="main-title">Корзина</h1>
          </div>
        </div>
        <div class="container">
          <div class="busket">
            <form action="" method="post" role="form">
              <table class="table table--bordered visible-md visible-lg">
                <thead>
                  <tr>
                    <th colspan="2">Товар</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                    <th>Удалить</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="busket__item">
                    <td class="busket__item-img"><img src="images/busket-img-1.jpg" alt=""></td>
                    <td class="busket__item-desc">
                      <h6><a href="#" class="text--primary">Кольцо с топазом и бриллиантами</a></h6>
                      <ul class="list--unstyled">
                        <li><b>Артикул:</b><span> 22056895</span></li>
                        <li><b>Размер:</b><span> 12</span></li>
                        <li><b>Наличие:</b><span class="text--success"> Много</span></li>
                      </ul>
                    </td>
                    <td class="busket__item-price"><span>7 432 540 Р</span></td>
                    <td class="busket__item-count">
                      <input type="text" value="243" class="form-control input__number-js">
                    </td>
                    <td class="busket__item-summ text--danger"><span>14 456 540 Р</span></td>
                    <td class="busket__item-del busket__del-js"><a href="#"><img src="images/close.png" alt=""></a></td>
                  </tr>
                  <tr class="busket__item">
                    <td class="busket__item-img"><img src="images/busket-img-2.jpg" alt=""></td>
                    <td class="busket__item-desc">
                      <h6><a href="#" class="text--primary">Если будет очень длинное название,<br>оно должно уйти в 2 строчки</a></h6>
                      <ul class="list--unstyled">
                        <li><b>Артикул:</b><span> 22056895</span></li>
                        <li><b>Размер:</b><span> 12</span></li>
                        <li><b>Наличие:</b><span class="text--success"> Много</span></li>
                      </ul>
                    </td>
                    <td class="busket__item-price"><span>7 432 540 Р</span></td>
                    <td class="busket__item-count">
                      <input type="text" value="243" class="form-control input__number-js">
                    </td>
                    <td class="busket__item-summ text--danger"><span>14 456 540 Р</span></td>
                    <td class="busket__item-del busket__del-js"><a href="#"><img src="images/close.png" alt=""></a></td>
                  </tr>
                  <tr class="busket__item">
                    <td class="busket__item-img"><img src="images/busket-img-3.jpg" alt=""></td>
                    <td class="busket__item-desc">
                      <h6><a href="#" class="text--primary">Кольцо с топазом и бриллиантами</a></h6>
                      <ul class="list--unstyled">
                        <li><b>Артикул:</b><span> 22056895</span></li>
                        <li><b>Размер:</b><span> 12</span></li>
                        <li><b>Наличие:</b><span> Нет</span></li>
                        <li class="font--sm">Пожалуйста, перед покупкой &nbsp;<a href="#" data-toggle="modal" data-target="#callForm" class="text--danger">свяжитесь с менеджером</a></li>
                      </ul>
                    </td>
                    <td class="busket__item-price"><span>7 432 540 Р</span></td>
                    <td class="busket__item-count">
                      <input type="text" value="243" class="form-control input__number-js">
                    </td>
                    <td class="busket__item-summ text--danger"><span>14 456 540 Р</span></td>
                    <td class="busket__item-del busket__del-js"><a href="#"><img src="images/close.png" alt=""></a></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4">
                      <ul class="pager margbot10 margtop10">
                        <li class="previous"><a href="#" class="arrow"><i>&larr;</i></a><a href="#">Вернуться к покупкам</a></li>
                      </ul>
                    </td>
                    <td colspan="4" class="busket__item-total">
                      <h4>Итого:<span class="text--danger"> 74 503 160 Р</span></h4><a href="#" class="btn btn--warning">Пересчитать</a>
                    </td>
                  </tr>
                </tfoot>
              </table>
              <div class="busket visible-xs visible-sm">
                <div class="busket__item margbot80">
                  <div class="busket__item-img text--center"><img src="images/busket-img-1.jpg" alt=""></div>
                  <div class="busket__item-desc">
                    <h6 class="margbot30"><a href="#" class="text--primary">Кольцо с топазом и бриллиантами</a></h6>
                    <ul class="list--unstyled">
                      <li><b>Артикул:</b><span> 22056895</span></li>
                      <li><b>Размер:</b><span> 12</span></li>
                      <li><b>Наличие:</b><span class="text--success"> Много</span></li>
                      <li><b>Цена:</b><span>7 432 540 Р</span></li>
                      <li><b>Количество:</b><span class="busket__item-count">
                          <input type="text" value="243" class="form-control input__number-js"></span></li>
                      <li><b>Сумма:</b><span class="busket__item-summ text--danger">14 456 540 Р</span></li>
                      <li><b class="busket__item-del busket__del-js"><a href="#">Удалить</a></b></li>
                    </ul>
                  </div>
                </div>
                <div class="busket__item margbot80">
                  <div class="busket__item-img text--center"><img src="images/busket-img-2.jpg" alt=""></div>
                  <div class="busket__item-desc">
                    <h6 class="margbot30"><a href="#" class="text--primary">Кольцо с топазом и бриллиантами</a></h6>
                    <ul class="list--unstyled">
                      <li><b>Артикул:</b><span> 22056895</span></li>
                      <li><b>Размер:</b><span> 12</span></li>
                      <li><b>Наличие:</b><span class="text--success"> Много</span></li>
                      <li><b>Цена:</b><span>7 432 540 Р</span></li>
                      <li><b>Количество:</b><span class="busket__item-count">
                          <input type="text" value="243" class="form-control input__number-js"></span></li>
                      <li><b>Сумма:</b><span class="busket__item-summ text--danger">14 456 540 Р</span></li>
                      <li><b class="busket__item-del busket__del-js"><a href="#">Удалить</a></b></li>
                    </ul>
                  </div>
                </div>
                <div class="busket__item margbot80">
                  <div class="busket__item-img text--center"><img src="images/busket-img-3.jpg" alt=""></div>
                  <div class="busket__item-desc">
                    <h6 class="margbot30"><a href="#" class="text--primary">Кольцо с топазом и бриллиантами</a></h6>
                    <ul class="list--unstyled">
                      <li><b>Артикул:</b><span> 22056895</span></li>
                      <li><b>Размер:</b><span> 12</span></li>
                      <li><b>Наличие:</b><span class="text--success"> Много</span></li>
                      <li><b>Цена:</b><span>7 432 540 Р</span></li>
                      <li><b>Количество:</b><span class="busket__item-count">
                          <input type="text" value="243" class="form-control input__number-js"></span></li>
                      <li><b>Сумма:</b><span class="busket__item-summ text--danger">14 456 540 Р</span></li>
                      <li><b class="busket__item-del busket__del-js"><a href="#">Удалить</a></b></li>
                    </ul>
                  </div>
                </div>
                <div class="text--right">
                  <div class="busket__item-total">
                    <h4>Итого:<span class="text--danger"> 74 503 160 Р</span></h4><a href="#" class="btn btn--warning">Пересчитать</a>
                  </div>
                </div>
                <ul class="pager margbot30 margtop40">
                  <li class="previous"><a href="#" class="arrow"><i>&larr;</i></a><a href="#">Вернуться к покупкам</a></li>
                </ul>
              </div>
            </form>
          </div>
          <div class="row margtop40 form-mess">
            <div class="col col-lg-6 col-md-8 col-xs-12">
              <h2 class="margbot30">Контактные данные</h2>
              <form action="" method="post" role="form" class="form-horizontal">
                <div class="form-group field-text">
                  <label for="phone1" class="col col-sm-3 col-xs-12 control-label">Телефон *</label>
                  <div class="col col-sm-6 col-xs-12">
                    <input type="text" name="phone" id="phone1" required class="form-control">
                  </div>
                </div>
                <div class="form-group field-email">
                  <label for="mail1" class="col col-sm-3 col-xs-12 control-label">Эл.почта *</label>
                  <div class="col col-sm-6 col-xs-12">
                    <input type="email" name="mail" id="mail1" required class="form-control">
                  </div>
                </div>
                <div class="form-group field-text">
                  <label for="name1" class="col col-sm-3 col-xs-12 control-label">Имя *</label>
                  <div class="col col-sm-6 col-xs-12">
                    <input type="text" name="name" id="name1" required class="form-control">
                  </div>
                </div>
                <div class="form-group field-text">
                  <label for="surname1" class="col col-sm-3 col-xs-12 control-label">Фамилия *</label>
                  <div class="col col-sm-6 col-xs-12">
                    <input type="text" name="surname" id="surname1" required class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col col-sm-3 col-xs-12">Комментарии</label>
                  <div class="col col-sm-9 col-xs-12">
                    <textarea class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col col-sm-3 col-xs-12">&nbsp;</label>
                  <div class="col col-sm-9 col-xs-12"><a href="#" class="text--primary">Доставка и оплата</a></div>
                </div>
                <div class="form-group">
                  <label class="control-label col col-sm-3 col-xs-12">&nbsp;</label>
                  <div class="col col-sm-9 col-xs-12">
                    <button type="submit" class="btn btn--warning">Оформить заказ</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer>
      <div class="footer-top">
        <div class="footer__menu">
          <div class="container">
            <div class="row">
              <div class="col col-lg-2 visible-lg">
                <h6 class="contacts__title">Информация</h6>
                <ul class="nav-stacked nav">
                  <li class="nav__element"><a href="#" class="nav__element-item">Оплата и получение товара</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Гарантии качества</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Возврат</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Уход за изделиями</a></li>
                </ul>
              </div>
              <div class="col col-lg-2 visible-lg">
                <h6 class="contacts__title">Каталог</h6>
                <ul class="nav-stacked nav">
                  <li class="nav__element"><a href="#" class="nav__element-item">Каталог товаров</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Новинки</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Новинки</a></li>
                </ul>
              </div>
              <div class="col col-lg-2 visible-lg">
                <h6 class="contacts__title">Компания</h6>
                <ul class="nav-stacked nav">
                  <li class="nav__element"><a href="#" class="nav__element-item">Новости</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Вакансии</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">О компании</a></li>
                </ul>
              </div>
              <div style="padding:0" class="col col-lg-3 col-md-6 col-xs-12">
                <h6 class="contacts__title">Офисы продаж</h6>
                <ul class="nav-stacked nav">
                  <li class="nav__element">
                    <div class="nav__element-item nav__element-item-contact"><i class="icon-location"></i> г. Санкт-Петербург, ул. Такая-то, д. 10</div>
                  </li>
                  <li class="nav__element">
                    <div class="nav__element-item nav__element-item-contact"><i class="icon-location"></i> г. Кострома, ул. Такая-то, д. 10</div>
                  </li>
                  <li class="nav__element visible-lg"><a href="#" class="nav__element-item nav__element-item-contact nav__element-item-last">Карта сайта</a></li>
                </ul>
              </div>
              <div class="col col-lg-3 col-md-6 col-xs-12 text--md--right text--left">
                <ul class="list--inline social">
                  <li>Мы в соцсетях:</li>
                  <li><a href="#"><i class="icon-facebook-official"></i></a></li>
                  <li><a href="#"><i class="icon-vkontakte"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col col-lg-6 col-md-6 col-xs-12">
              <p class="copyright">ООО "Санкт-Петербургский Ювелирный Завод "Ювелиры Северной Столицы" © 2015</p>
            </div>
            <div class="col col-lg-6 col-md-6 col-xs-12 text--md--right text--center"><a href="http://www.trinet.ru" target="_blank"><img src="images/logo-trinet.png" alt="Trinet"></a></div>
          </div>
        </div>
      </div>
    </footer>
  </div><script src="scripts/vendor.js"></script>
  <script src="scripts/plugins.js"></script>
  <script src="scripts/main.js"></script>
</body></html>
