dist/catalog.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">
<!-- миксины-->
<!-- input-->
<head>
  <meta charset="utf-8">
  <title>USS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico"><link rel="stylesheet" href="styles/vendor.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div class="wrapper">
    <div class="wrapper-inner">
      <!-- callThanks-->
      <div id="callThanks" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close-red.png" alt="Close"></button>
              <h3 class="modal-title">Заказать звонок менеджеру</h3>
            </div>
            <div class="modal-body text--center">
              <p>Ожидайте звонка. Вам перезвонят в ближайшее время.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- callForm-->
      <div id="callForm" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close-red.png" alt="Close"></button>
              <h3 class="modal-title">Заказать звонок менеджеру</h3>
            </div>
            <div class="modal-body">
              <form action="" method="post" role="form" class="form-horizontal">
                <div class="form-group field-text">
                  <label for="phone1" class="col col-sm-3 col-xs-12 control-label">Телефон *</label>
                  <div class="col col-sm-6 col-xs-12">
                    <input type="text" name="phone" id="phone1" required class="form-control">
                  </div>
                </div>
                <div class="form-group field-text">
                  <label for="name1" class="col col-sm-3 col-xs-12 control-label">Имя *</label>
                  <div class="col col-sm-6 col-xs-12">
                    <input type="text" name="name" id="name1" required class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col col-sm-3 col-xs-12">Комментарии</label>
                  <div class="col col-sm-9 col-xs-12">
                    <textarea class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col col-sm-3 col-xs-12">&nbsp;</label>
                  <div class="col col-sm-9 col-xs-12">
                    <button type="submit" class="btn btn--warning">Перезвонить мне</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <header>
        <div class="header-top">
          <div class="container">
            <div class="navbar-header col-sm-12 col-xs-12 col-md-6"><a href="/" class="navbar-brand"><img src="images/logo.png" alt=""></a></div>
            <div class="navbar-left navbar-phone"><span>Единый номер<b>8(800) 555-17-70</b></span></div>
            <div class="navbar-right busket"><span class="busket-text">В вашей корзине</span><span class="busket-count">2</span><span class="busket-type">товара</span></div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <nav role="navigation" class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle">
                  <div class="pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></div><span class="sr-only">Меню</span>
                </button>
              </div>
              <form role="search" class="navbar-form navbar-right visible-xs visible-sm visible-md">
                <div class="input-group">
                  <input type="text" placeholder="Поиск по сайту" class="form-control">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn--default"><i class="icon-search"></i></button>
                  </div>
                </div>
              </form>
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <!--+list-h('nav navbar-nav', 'Каталог', 'Акции', 'Оплата и получение товара', 'Розничный магазин', 'О нас', 'Гарантии')-->
                <ul class="nav navbar-nav">
                  <li><a href="#" class="visible-lg">Каталог</a><a href="#" class="hidden-lg menu__title filter__title-js">Каталог</a>
                    <div class="subnav">
                      <div class="container">
                        <h2 class="subnav-title visible-lg">Каталог</h2>
                        <ul class="nav">
                          <li class="subnav-sub"><a href="#" class="visible-lg">Серьги</a><a href="#" class="hidden-lg menu__title filter__title-js">Серьги</a>
                            <ul class="nav">
                              <li><a href="#">Серьги пуссеты</a></li>
                              <li><a href="#">Серьги детские</a></li>
                              <li><a href="#">Серьги c подвесной частью</a></li>
                              <li><a href="#">Серьги скоба</a></li>
                              <li><a href="#">Серьги штампованные</a></li>
                            </ul>
                          </li>
                          <li class="subnav-sub"><a href="#" class="visible-lg">Кольца</a><a href="#" class="hidden-lg menu__title filter__title-js">Кольца</a>
                            <ul class="nav">
                              <li><a href="#">Обручальные кольца</a></li>
                              <li><a href="#">Помолвочные кольца</a></li>
                              <li><a href="#">Мужские печатки</a></li>
                              <li><a href="#">Женские кольца</a></li>
                            </ul>
                          </li>
                          <li class="subnav-sub"><a href="#" class="visible-lg">Подвески и кулоны</a><a href="#" class="hidden-lg menu__title filter__title-js">Подвески и кулоны</a>
                            <ul class="nav">
                              <li><a href="#">Серьги пуссеты</a></li>
                              <li><a href="#">Серьги детские</a></li>
                              <li><a href="#">Серьги c подвесной частью</a></li>
                              <li><a href="#">Серьги скоба</a></li>
                              <li><a href="#">Серьги штампованные</a></li>
                            </ul>
                          </li>
                          <li class="subnav-sub"><a href="#">Цепи и колье</a><a href="#">Браслеты</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li><a href="#">Акции</a></li>
                  <li><a href="#">Оплата и получение товара</a></li>
                  <li><a href="#">Розничный магазин</a></li>
                  <li><a href="#">О нас</a></li>
                  <li><a href="#">Гарантии</a></li>
                  <li class="active"><a href="#">ЮСС</a></li>
                </ul>
              </div>
              <form role="search" class="navbar-form navbar-right visible-lg">
                <div class="input-group">
                  <input type="text" placeholder="Поиск по сайту" class="form-control">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn--default"><i class="icon-search"></i></button>
                  </div>
                </div>
              </form>
            </nav>
          </div>
          <!--button(type="button", class="btn", data-toggle="modal", data-target="#callThanks") Модальное//button(type="button", class="btn", data-toggle="modal", data-target="#callForm") Модальное
          -->
        </div>
      </header>
      <main class="main">
        <div class="breadcrumbs">
          <div class="container">
            <ul class="breadcrumb visible-md visible-lg">
              <li><a href="#">Главная</a></li>
              <li><a href="#">Интернет-магазин</a></li>
              <li class="active">Каталог</li>
            </ul>
            <h1 class="main-title">Каталог</h1>
          </div>
        </div>
        <div class="container">
          <div class="catalog category">
            <div class="col col-lg-4 col-sm-6 col-xs-12">
              <div class="product-item">
                <div class="product-item__inner"><img src="images/catalog/category-1.jpg" alt="" class="product-item__img">
                  <h3 class="product-item__title">Кольцо</h3><a href="#" class="product-item__category"> Кольцо,</a><a href="#" class="product-item__category"> кольцо на ногу</a>
                </div>
              </div>
            </div>
            <div class="col col-lg-4 col-sm-6 col-xs-12">
              <div class="product-item">
                <div class="product-item__inner"><img src="images/catalog/category-2.jpg" alt="" class="product-item__img">
                  <h3 class="product-item__title">Серьги</h3><a href="#" class="product-item__category"> Серьги,</a><a href="#" class="product-item__category"> cерьги пуссеты,</a><a href="#" class="product-item__category"> cерьги детские,</a><a href="#" class="product-item__category"> cерьги с подвесной частью,</a><a href="#" class="product-item__category"> cерьги скоба,</a><a href="#" class="product-item__category"> cерьги штампованные</a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col col-lg-4 col-sm-6 col-xs-12">
              <div class="product-item">
                <div class="product-item__inner"><img src="images/catalog/category-3.jpg" alt="" class="product-item__img">
                  <h3 class="product-item__title">Цепи и колье</h3><a href="#" class="product-item__category">Цепь легковесная</a>
                </div>
              </div>
            </div>
            <div class="col col-lg-4 col-sm-6 col-xs-12">
              <div class="product-item">
                <div class="product-item__inner"><img src="images/catalog/category-4.jpg" alt="" class="product-item__img">
                  <h3 class="product-item__title">Браслет</h3><a href="#" class="product-item__category"> Браслет разных плетений,</a><a href="#" class="product-item__category"> браслет легковесный,</a><a href="#" class="product-item__category"> браслет звеневой</a>
                </div>
              </div>
            </div>
            <div class="col col-lg-4 col-sm-6 col-xs-12">
              <div class="product-item">
                <div class="product-item__inner"><img src="images/catalog/category-5.jpg" alt="" class="product-item__img">
                  <h3 class="product-item__title">Подвеска</h3><a href="#" class="product-item__category"> Подвеска, подвеска крест,</a><a href="#" class="product-item__category"> подвеска иконка,</a><a href="#" class="product-item__category"> подвеска буква</a>
                </div>
              </div>
            </div>
            <div class="col col-lg-4 col-sm-6 col-xs-12">
              <div class="product-item">
                <div class="product-item__inner"><img src="images/catalog/category-6.jpg" alt="" class="product-item__img">
                  <h3 class="product-item__title">Броши и брелки</h3><a href="#" class="product-item__category"> Брошь,</a><a href="#" class="product-item__category"> булавка</a>
                </div>
              </div>
            </div>
            <div class="col col-lg-4 col-sm-6 col-xs-12">
              <div class="product-item">
                <div class="product-item__inner"><img src="images/catalog/category-7.jpg" alt="" class="product-item__img">
                  <h3 class="product-item__title">Пирсинг</h3><a href="#" class="product-item__category"> Пирсинг в пупок,</a><a href="#" class="product-item__category"> пирсинг в нос</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer>
      <div class="footer-top">
        <div class="footer__menu">
          <div class="container">
            <div class="row">
              <div class="col col-lg-2 visible-lg">
                <h6 class="contacts__title">Информация</h6>
                <ul class="nav-stacked nav">
                  <li class="nav__element"><a href="#" class="nav__element-item">Оплата и получение товара</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Гарантии качества</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Возврат</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Уход за изделиями</a></li>
                </ul>
              </div>
              <div class="col col-lg-2 visible-lg">
                <h6 class="contacts__title">Каталог</h6>
                <ul class="nav-stacked nav">
                  <li class="nav__element"><a href="#" class="nav__element-item">Каталог товаров</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Новинки</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Новинки</a></li>
                </ul>
              </div>
              <div class="col col-lg-2 visible-lg">
                <h6 class="contacts__title">Компания</h6>
                <ul class="nav-stacked nav">
                  <li class="nav__element"><a href="#" class="nav__element-item">Новости</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Вакансии</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">О компании</a></li>
                </ul>
              </div>
              <div style="padding:0" class="col col-lg-3 col-md-6 col-xs-12">
                <h6 class="contacts__title">Офисы продаж</h6>
                <ul class="nav-stacked nav">
                  <li class="nav__element">
                    <div class="nav__element-item nav__element-item-contact"><i class="icon-location"></i> г. Санкт-Петербург, ул. Такая-то, д. 10</div>
                  </li>
                  <li class="nav__element">
                    <div class="nav__element-item nav__element-item-contact"><i class="icon-location"></i> г. Кострома, ул. Такая-то, д. 10</div>
                  </li>
                  <li class="nav__element visible-lg"><a href="#" class="nav__element-item nav__element-item-contact nav__element-item-last">Карта сайта</a></li>
                </ul>
              </div>
              <div class="col col-lg-3 col-md-6 col-xs-12 text--md--right text--left">
                <ul class="list--inline social">
                  <li>Мы в соцсетях:</li>
                  <li><a href="#"><i class="icon-facebook-official"></i></a></li>
                  <li><a href="#"><i class="icon-vkontakte"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col col-lg-6 col-md-6 col-xs-12">
              <p class="copyright">ООО "Санкт-Петербургский Ювелирный Завод "Ювелиры Северной Столицы" © 2015</p>
            </div>
            <div class="col col-lg-6 col-md-6 col-xs-12 text--md--right text--center"><a href="http://www.trinet.ru" target="_blank"><img src="images/logo-trinet.png" alt="Trinet"></a></div>
          </div>
        </div>
      </div>
    </footer>
  </div><script src="scripts/vendor.js"></script>
  <script src="scripts/plugins.js"></script>
  <script src="scripts/main.js"></script>
</body></html>

app/views/catalog.jade
extends layouts/_default


block content
    - var title = { description: 'Каталог' }
    include modules/_breadcrumbs
    .container
            .catalog.category
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-1.jpg", alt="")
                            h3.product-item__title Кольцо
                            a.product-item__category(href="#")  Кольцо,
                            a.product-item__category(href="#")  кольцо на ногу
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-2.jpg", alt="")
                            h3.product-item__title Серьги
                            a.product-item__category(href="#")  Серьги,
                            a.product-item__category(href="#")  cерьги пуссеты,
                            a.product-item__category(href="#")  cерьги детские,
                            a.product-item__category(href="#")  cерьги с подвесной частью,
                            a.product-item__category(href="#")  cерьги скоба,
                            a.product-item__category(href="#")  cерьги штампованные
                        .clearfix
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-3.jpg", alt="")
                            h3.product-item__title Цепи и колье
                            a.product-item__category(href="#") Цепь легковесная
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-4.jpg", alt="")
                            h3.product-item__title Браслет
                            a.product-item__category(href="#")  Браслет разных плетений,
                            a.product-item__category(href="#")  браслет легковесный,
                            a.product-item__category(href="#")  браслет звеневой
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-5.jpg", alt="")
                            h3.product-item__title Подвеска
                            a.product-item__category(href="#")  Подвеска, подвеска крест,
                            a.product-item__category(href="#")  подвеска иконка,
                            a.product-item__category(href="#")  подвеска буква
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-6.jpg", alt="")
                            h3.product-item__title Броши и брелки
                            a.product-item__category(href="#")  Брошь,
                            a.product-item__category(href="#")  булавка
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-7.jpg", alt="")
                            h3.product-item__title Пирсинг
                            a.product-item__category(href="#")  Пирсинг в пупок,
                            a.product-item__category(href="#")  пирсинг в нос
