dist/sitemap.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">
<!-- миксины-->
<!-- input-->
<head>
  <meta charset="utf-8">
  <title>USS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico"><link rel="stylesheet" href="styles/vendor.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div class="wrapper">
    <div class="wrapper-inner">
      <!-- callThanks-->
      <div id="callThanks" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close-red.png" alt="Close"></button>
              <h3 class="modal-title">Заказать звонок менеджеру</h3>
            </div>
            <div class="modal-body text--center">
              <p>Ожидайте звонка. Вам перезвонят в ближайшее время.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- callForm-->
      <div id="callForm" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="images/close-red.png" alt="Close"></button>
              <h3 class="modal-title">Заказать звонок менеджеру</h3>
            </div>
            <div class="modal-body">
              <form action="" method="post" role="form" class="form-horizontal">
                <div class="form-group field-text">
                  <label for="phone1" class="col col-sm-3 col-xs-12 control-label">Телефон *</label>
                  <div class="col col-sm-6 col-xs-12">
                    <input type="text" name="phone" id="phone1" required class="form-control">
                  </div>
                </div>
                <div class="form-group field-text">
                  <label for="name1" class="col col-sm-3 col-xs-12 control-label">Имя *</label>
                  <div class="col col-sm-6 col-xs-12">
                    <input type="text" name="name" id="name1" required class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col col-sm-3 col-xs-12">Комментарии</label>
                  <div class="col col-sm-9 col-xs-12">
                    <textarea class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col col-sm-3 col-xs-12">&nbsp;</label>
                  <div class="col col-sm-9 col-xs-12">
                    <button type="submit" class="btn btn--warning">Перезвонить мне</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <header>
        <div class="header-top">
          <div class="container">
            <div class="navbar-header col-sm-12 col-xs-12 col-md-6"><a href="/" class="navbar-brand"><img src="images/logo.png" alt=""></a></div>
            <div class="navbar-left navbar-phone"><span>Единый номер<b>8(800) 555-17-70</b></span></div>
            <div class="navbar-right busket"><span class="busket-text">В вашей корзине</span><span class="busket-count">2</span><span class="busket-type">товара</span></div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <nav role="navigation" class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle">
                  <div class="pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></div><span class="sr-only">Меню</span>
                </button>
              </div>
              <form role="search" class="navbar-form navbar-right visible-xs visible-sm visible-md">
                <div class="input-group">
                  <input type="text" placeholder="Поиск по сайту" class="form-control">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn--default"><i class="icon-search"></i></button>
                  </div>
                </div>
              </form>
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <!--+list-h('nav navbar-nav', 'Каталог', 'Акции', 'Оплата и получение товара', 'Розничный магазин', 'О нас', 'Гарантии')-->
                <ul class="nav navbar-nav">
                  <li><a href="#" class="visible-lg">Каталог</a><a href="#" class="hidden-lg menu__title filter__title-js">Каталог</a>
                    <div class="subnav">
                      <div class="container">
                        <h2 class="subnav-title visible-lg">Каталог</h2>
                        <ul class="nav">
                          <li class="subnav-sub"><a href="#" class="visible-lg">Серьги</a><a href="#" class="hidden-lg menu__title filter__title-js">Серьги</a>
                            <ul class="nav">
                              <li><a href="#">Серьги пуссеты</a></li>
                              <li><a href="#">Серьги детские</a></li>
                              <li><a href="#">Серьги c подвесной частью</a></li>
                              <li><a href="#">Серьги скоба</a></li>
                              <li><a href="#">Серьги штампованные</a></li>
                            </ul>
                          </li>
                          <li class="subnav-sub"><a href="#" class="visible-lg">Кольца</a><a href="#" class="hidden-lg menu__title filter__title-js">Кольца</a>
                            <ul class="nav">
                              <li><a href="#">Обручальные кольца</a></li>
                              <li><a href="#">Помолвочные кольца</a></li>
                              <li><a href="#">Мужские печатки</a></li>
                              <li><a href="#">Женские кольца</a></li>
                            </ul>
                          </li>
                          <li class="subnav-sub"><a href="#" class="visible-lg">Подвески и кулоны</a><a href="#" class="hidden-lg menu__title filter__title-js">Подвески и кулоны</a>
                            <ul class="nav">
                              <li><a href="#">Серьги пуссеты</a></li>
                              <li><a href="#">Серьги детские</a></li>
                              <li><a href="#">Серьги c подвесной частью</a></li>
                              <li><a href="#">Серьги скоба</a></li>
                              <li><a href="#">Серьги штампованные</a></li>
                            </ul>
                          </li>
                          <li class="subnav-sub"><a href="#">Цепи и колье</a><a href="#">Браслеты</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li><a href="#">Акции</a></li>
                  <li><a href="#">Оплата и получение товара</a></li>
                  <li><a href="#">Розничный магазин</a></li>
                  <li><a href="#">О нас</a></li>
                  <li><a href="#">Гарантии</a></li>
                  <li class="active"><a href="#">ЮСС</a></li>
                </ul>
              </div>
              <form role="search" class="navbar-form navbar-right visible-lg">
                <div class="input-group">
                  <input type="text" placeholder="Поиск по сайту" class="form-control">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn--default"><i class="icon-search"></i></button>
                  </div>
                </div>
              </form>
            </nav>
          </div>
          <!--button(type="button", class="btn", data-toggle="modal", data-target="#callThanks") Модальное//button(type="button", class="btn", data-toggle="modal", data-target="#callForm") Модальное
          -->
        </div>
      </header>
      <main class="main">
        <div class="breadcrumbs">
          <div class="container">
            <ul class="breadcrumb visible-md visible-lg">
              <li><a href="#">Главная</a></li>
              <li><a href="#">Интернет-магазин</a></li>
              <li class="active">Карта сайта</li>
            </ul>
            <h1 class="main-title">Карта сайта</h1>
          </div>
        </div>
        <div class="container">
          <div class="row sitemap">
            <div class="col col-xs-12 col-sm-6 col-lg-4 col-xlg-3 sitemap__title">
              <p class="font--lg sitemap__title-first"><a href="#">Каталог</a></p>
              <ul class="sitemap__title-third list--unstyled">
                <li><b><a href="#">Серьги</a></b></li>
                <li><a href="#">Серьги пуссеты</a></li>
                <li><a href="#">Серьги детские</a></li>
                <li><a href="#">Серьги с подвесной частью</a></li>
                <li><a href="#">Серьги скоба</a></li>
                <li><a href="#">Серьги штампованные</a></li>
              </ul>
              <ul class="sitemap__title-third list--unstyled">
                <li><b><a href="#">Кольца</a></b></li>
                <li><a href="#">Обручальные кольца</a></li>
                <li><a href="#">Помолвочные кольца</a></li>
                <li><a href="#">Мужские печатки</a></li>
                <li><a href="#">Женские кольца</a></li>
              </ul>
              <ul class="sitemap__title-third list--unstyled">
                <li><b><a href="#">Подвески и кулоны</a></b></li>
                <li><a href="#">Серьги пуссеты</a></li>
                <li><a href="#">Серьги детские</a></li>
                <li><a href="#">Серьги с подвесной частью</a></li>
                <li><a href="#">Серьги скоба</a></li>
                <li><a href="#">Серьги штампованные</a></li>
              </ul>
              <ul class="sitemap__title-second list--unstyled">
                <li><b><a href="#">Цепи и колье</a></b></li>
              </ul>
              <ul class="sitemap__title-second list--unstyled">
                <li><b><a href="#">Браслеты</a></b></li>
              </ul>
            </div>
            <div class="col col-xs-12 col-sm-6 col-lg-4 col-xlg-3 sitemap__title">
              <p class="font--lg sitemap__title-first"><a href="#">Акции</a></p>
              <p class="font--lg sitemap__title-first"><a href="#">Оплата и получение товара</a></p>
              <p class="font--lg sitemap__title-first"><a href="#">Розничный магазин</a></p>
              <p class="font--lg sitemap__title-first"><a href="#">О нас</a></p>
              <p class="font--lg sitemap__title-first"><a href="#">Гарантии</a></p>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer>
      <div class="footer-top">
        <div class="footer__menu">
          <div class="container">
            <div class="row">
              <div class="col col-lg-2 visible-lg">
                <h6 class="contacts__title">Информация</h6>
                <ul class="nav-stacked nav">
                  <li class="nav__element"><a href="#" class="nav__element-item">Оплата и получение товара</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Гарантии качества</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Возврат</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Уход за изделиями</a></li>
                </ul>
              </div>
              <div class="col col-lg-2 visible-lg">
                <h6 class="contacts__title">Каталог</h6>
                <ul class="nav-stacked nav">
                  <li class="nav__element"><a href="#" class="nav__element-item">Каталог товаров</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Новинки</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Новинки</a></li>
                </ul>
              </div>
              <div class="col col-lg-2 visible-lg">
                <h6 class="contacts__title">Компания</h6>
                <ul class="nav-stacked nav">
                  <li class="nav__element"><a href="#" class="nav__element-item">Новости</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">Вакансии</a></li>
                  <li class="nav__element"><a href="#" class="nav__element-item">О компании</a></li>
                </ul>
              </div>
              <div style="padding:0" class="col col-lg-3 col-md-6 col-xs-12">
                <h6 class="contacts__title">Офисы продаж</h6>
                <ul class="nav-stacked nav">
                  <li class="nav__element">
                    <div class="nav__element-item nav__element-item-contact"><i class="icon-location"></i> г. Санкт-Петербург, ул. Такая-то, д. 10</div>
                  </li>
                  <li class="nav__element">
                    <div class="nav__element-item nav__element-item-contact"><i class="icon-location"></i> г. Кострома, ул. Такая-то, д. 10</div>
                  </li>
                  <li class="nav__element visible-lg"><a href="#" class="nav__element-item nav__element-item-contact nav__element-item-last">Карта сайта</a></li>
                </ul>
              </div>
              <div class="col col-lg-3 col-md-6 col-xs-12 text--md--right text--left">
                <ul class="list--inline social">
                  <li>Мы в соцсетях:</li>
                  <li><a href="#"><i class="icon-facebook-official"></i></a></li>
                  <li><a href="#"><i class="icon-vkontakte"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col col-lg-6 col-md-6 col-xs-12">
              <p class="copyright">ООО "Санкт-Петербургский Ювелирный Завод "Ювелиры Северной Столицы" © 2015</p>
            </div>
            <div class="col col-lg-6 col-md-6 col-xs-12 text--md--right text--center"><a href="http://www.trinet.ru" target="_blank"><img src="images/logo-trinet.png" alt="Trinet"></a></div>
          </div>
        </div>
      </div>
    </footer>
  </div><script src="scripts/vendor.js"></script>
  <script src="scripts/plugins.js"></script>
  <script src="scripts/main.js"></script>
</body></html>

app/views/sitemap.jade
extends layouts/_default


block content
    - var title = { description: 'Карта сайта' }
    include modules/_breadcrumbs
    .container
        .row.sitemap
            .col.col-xs-12.col-sm-6.col-lg-4.col-xlg-3.sitemap__title
                p.font--lg.sitemap__title-first: a(href="#") Каталог
                ul.sitemap__title-third.list--unstyled
                    li: b: a(href="#") Серьги
                    li: a(href="#") Серьги пуссеты
                    li: a(href="#") Серьги детские
                    li: a(href="#") Серьги с подвесной частью
                    li: a(href="#") Серьги скоба
                    li: a(href="#") Серьги штампованные
                ul.sitemap__title-third.list--unstyled
                    li: b: a(href="#") Кольца
                    li: a(href="#") Обручальные кольца
                    li: a(href="#") Помолвочные кольца
                    li: a(href="#") Мужские печатки
                    li: a(href="#") Женские кольца
                ul.sitemap__title-third.list--unstyled
                    li: b: a(href="#") Подвески и кулоны
                    li: a(href="#") Серьги пуссеты
                    li: a(href="#") Серьги детские
                    li: a(href="#") Серьги с подвесной частью
                    li: a(href="#") Серьги скоба
                    li: a(href="#") Серьги штампованные
                ul.sitemap__title-second.list--unstyled
                    li: b: a(href="#") Цепи и колье
                ul.sitemap__title-second.list--unstyled
                    li: b: a(href="#") Браслеты
            .col.col-xs-12.col-sm-6.col-lg-4.col-xlg-3.sitemap__title
                p.font--lg.sitemap__title-first: a(href="#") Акции
                p.font--lg.sitemap__title-first: a(href="#") Оплата и получение товара
                p.font--lg.sitemap__title-first: a(href="#") Розничный магазин
                p.font--lg.sitemap__title-first: a(href="#") О нас
                p.font--lg.sitemap__title-first: a(href="#") Гарантии
